/* * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
} */

/**/

html  { box-sizing: border-box;}
body { margin: 0; }
img { max-width: 100% }
a { text-decoration: none; }
*,*:before,*:after { box-sizing: inherit; }


.topnav {
	font-weight: bold;
	font-size: 18px;
	line-height: 18px;
	display: flex;
	align-items: center;
	letter-spacing: 2.7px;
	text-transform: uppercase;
	justify-content: space-between;
	max-width: 640px;
	margin: 25px auto; */
}

.topnav .activ{
	color: #FF0000;
	font-family: 'Montserrat', sans-serif;
}

.topnav .activ:hover{
    border-bottom: 2px solid #4bcaff;
}

.picture {
	width: 100%;
}

.section-title {
	font-weight: bold;
	font-size: 22px;
	line-height: 27px;
	letter-spacing: 3.3px;
	text-transform: uppercase;
	color: #373737;
	text-align: center;
	margin-top: 48px;
	margin-bottom: 38px;
	font-family: 'Montserrat', sans-serif;
}

.about-info-text{
	max-width: 1145px;
	margin: 0 auto 28px;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 2.4px;
	color: #373737;
	text-align: center;
	font-family: 'Montserrat', sans-serif;


}

.button{
	background: #FF0000;
	border-radius: 4px;
	border: none;
	padding: 18px 43px;
	display: block;
	margin: 38px auto 82px;
	font-weight: bold;
	font-size: 12px;
	line-height: 12px;
	letter-spacing: 1.8px;
	text-transform: uppercase;

	color: #FFFFFF;
	cursor: pointer;
	font-family: 'Montserrat', sans-serif;
}

.footer{
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 2.4px;
	color: #373737;
	text-align: right;
	max-width: 1145px;
	margin: 0 auto 29px;
	font-family: 'Montserrat', sans-serif;
}
